<div id="addexaminationpositionform">

	<%= form_for ([@examination, @examinationposition]), html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Nazwa %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Wynik %><br />
	    <%= f.text_field :result, class: "form-control" %>
	  </div>

		<div class="form-group">
	    <%= f.label :Norma %><br />
	    <%= f.text_field :norm, class: "form-control" %>
	  </div>

    <div class="actions">
	    <%= f.submit "Zapisz pozycję badania", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do  badaia", examinations_edit_path(@examination), class: "linkto" %></p>