<h1>Edytowanie pozycji do badania z dnia <%= l(@examination.date, format: "%d.%m.%Y %H:%M").humanize  %></h1>
<% if @examinationposition.errors.any? %>
	<% @examinationposition.attributes.keys.each do |key| %>
		<% if @examinationposition.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @examinationposition.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>