<h1>Wynik badania z dnia: <%= l(@examination.date, format: "%d.%m.%Y %H:%M").humanize %></h1>

<div id="examinationshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Nazwa</td>
	      	<td id="firstrow"><%= @examination.name %></td>
	    </tr>
	    <tr>
	    	<td>Opis badania</td>
	      	<td><%= @examination.descripiton %> </td>
	    </tr>
	    <tr>
	    	<td>Date badania</td>
	      	<td><%= l(@examination.date, format: "%d.%m.%Y %H:%M").humanize %> </td>
	    </tr>
	    <tr>
	    	<td>Pacjent</td>
	      	<td><%= @examination.patient.name %> <%= @examination.patient.surname %></td>
	    </tr>
	    <tr>
	    	<td>Pielęgniarka</td>
	      	<td><%= @examination.nurse.name %> <%= @examination.nurse.surname %></td>
	    </tr>
	</table>
</div>

<p><%= link_to "Powrót do wyników", examinations_index_path, class: "linkto" %></p>