<h1>Stale brane leki pacjenta <%= @user.name %> <%= @user.surname %></h1>

<div id="chronicdiseases">
	<% i=0 %>
	<table class="table table-hover">
		<thead>
			<th>Nr.</th>
			<th>Nazwa</th>
  	</thead>
  	<tbody>
		<% @chronic_medicines.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
			</tr>
		<% end %>
	  </tbody>
	</table>
</div>
<p><%= link_to "Powrót do pacjenta", patients_show_path(@user)  %></p>