<h1>Dodaj stale brany lek dla pacjenta <%= @user.name %> <%= @user.surname %></h1>
<% if @chronic_medicine.errors.any? %>
	<% @chronic_medicine.attributes.keys.each do |key| %>
		<% if @chronic_medicine.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @chronic_medicine.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>