<% if !@medicine.nil? %>
	var link = $("#<%= @field %> > #medicinelink");
	if (link) {
		link.remove();
	}
	$("#<%= @field %>").append('<%= link_to "Informacja o leku", medicines_show_path(@medicine), class: "linkto", id: "medicinelink", target: "_blank" %>');
<% else %>
	var link = $("#<%= @field %> > #medicinelink");
	if (link) {
		link.remove();
	}
<% end %>