<h1>Lek: <%= @medicine.name %></h1>

<div id="medicineshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Skład:</td>
      	<td id="firstrow"><%= @medicine.composition.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Postać:</td>
      	<td><%= @medicine.form.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Kategoria:</td>
      	<td><%= @medicine.category.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Specjalności:</td>
      	<td><%= @medicine.specialization.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Działanie:</td>
      	<td><%= @medicine.effect.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Wskazania:</td>
      	<td><%= @medicine.advice.html_safe %></td>
	    </tr>
	    <tr>
	    	<td>Dawkowanie:</td>
      	<td><%= @medicine.dose.html_safe %></td>
	    </tr>
	</table>
</div>
