<div id="menudiv">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "home" %>" ><%= link_to "Strona domowa", home_index_path %></li>
	  <li role="presentation" class="dropdown <%= "active" if controller.controller_name == "admins" or
	  																												controller.controller_name == "doctors" or
	  																												controller.controller_name == "nurses" or
	  																												controller.controller_name == "receptionists" or
	  																												controller.controller_name == "patients" %>">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Użytkownicy <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu nav nav-pills nav-stacked">
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "admins" %>"><%= link_to "Administratorzy", admins_index_path %></li>
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "doctors" %>"><%= link_to "Lekarze", doctors_index_path %></li>
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "nurses" %>"><%= link_to "Pielęgniarki", nurses_index_path %></li>
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "receptionists" %>"><%= link_to "Recepcjonistki", receptionists_index_path %></li>
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "patients" %>"><%= link_to "Pacjenci", patients_index_path %></li>
	    </ul>
  	</li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "rooms" %>" ><%= link_to "Gabinety", rooms_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "schedules" %>" ><%= link_to "Grafik", schedules_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "medical_visits" or controller.controller_name == "prescriptions" or controller.controller_name == "visit_descriptions" %>" ><%= link_to "Wizyty", medical_visits_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "examinations" or controller.controller_name == "examinationpositions"%>" ><%= link_to "Wyniki badań", examinations_index_path %></li>
	</ul>
</div>