<div id="menudiv">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "home" %>" ><%= link_to "Strona domowa", home_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "medical_visits" or controller.controller_name == "prescriptions" or controller.controller_name == "visit_descriptions" %>" ><%= link_to "Wizyty", medical_visits_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "schedules" %>" ><%= link_to "Grafik", schedules_index_path %></li>
  	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "patients" %>"><%= link_to "Pacjenci", patients_index_path %></li>
  	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "examinations" or controller.controller_name == "examinationpositions"%>" ><%= link_to "Wyniki badań", examinations_index_path %></li>
	</ul>
</div>