<div id="menudiv">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "home" %>" ><%= link_to "Strona domowa", home_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "examinations" or controller.controller_name == "examinationpositions"%>" ><%= link_to "Wyniki badań", examinations_index_path %></li>
	</ul>
</div>