<div id="menudiv">
	<ul class="nav nav-pills nav-justified">
	  <ul class="nav nav-pills nav-justified">
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "home" %>" ><%= link_to "Strona domowa", home_index_path %></li>
	  <li role="presentation" class="dropdown <%= "active" if controller.controller_name == "doctors" or
	  																												controller.controller_name == "patients" %>">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Użytkownicy <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu nav nav-pills nav-stacked">
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "patients" %>"><%= link_to "Pacjenci", patients_index_path %></li>
	    	<li role="presentation" class="menuitem <%= "active" if controller.controller_name == "doctors" %>"><%= link_to "Lekarze", doctors_index_path %></li>
	    </ul>
  	</li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "schedules" %>" ><%= link_to "Grafik", schedules_index_path %></li>
	  <li role="presentation" class="menuitem <%= "active" if controller.controller_name == "medical_visits" or controller.controller_name == "presentation" %>" ><%= link_to "Wizyty", medical_visits_index_path %></li>
	</ul>
</div>