<h1>Rejestracja nowego administratora</h1>
<% if @user.errors.any? %>
	<% @user.attributes.keys.each do |key| %>
		<% if @user.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @user.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="adminregistrationform">

	<%= form_for @user, url: admins_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Imię %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Nazwisko %><br />
	    <%= f.text_field :surname, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Płeć %><br />
	    <%= select_tag :sex, options_for_select([['Kobieta', 0], ['Mężczyzna', 1]], @user.sex),  class: "form-control" %>
	  </div>


	  <div class="form-group">
	    <%= f.label :Login %><br />
	    <%= f.text_field :login, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'E-mail' %><br />
	    <%= f.email_field :email, class: "form-control" %>
	  </div>

		<div class="form-group">
	    <%= f.label :Miasto %><br />
	  	<%= f.autocomplete_field :city ,autocomplete_city_name_admins_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_city_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
	  	<%= hidden_field(:post, :city_id, :value => get_city_id(@user.city))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

	  <div class="form-group">
	    <%= f.label :Ulica %><br />
	    <%= f.text_field :street, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'Nr domu i mieszkania' %><br />
	    <%= f.text_field :address, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Pesel %><br />
	    <%= f.text_field :pesel, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Telefon %><br />
	    <%= f.text_field :phone, class: "form-control" %>
	  </div>

		<%= f.fields_for :admin do |f1| %>
		  <div class="form-group">
		    <%= f1.check_box :ismain %>
		    <%= f1.label 'Czy główny' %>
		  </div>
		<% end %>

	  <div class="actions">
	    <%= f.submit "Zarejestruj administratora", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do administratorów", admins_index_path, class: "linkto" %></p>