<div id="prescriptionform">
	<%= form_for ([@medical_visit, @prescription]), html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label "Numer recepty" %><br />
	    <%= f.text_field :number, autofocus: true, class: "form-control visitdescriptiontextarea", rows: 5%>
	  </div>

	  <div class="form-group">
	    <%= f.label "Data realizacji" %>
	    	<div class='input-group date' id='datetimepicker'>
	    	<% if @prescription.realizationDate.nil? %>
			    		<%= f.text_field :realizationDate, class: "form-control" %>
			    	<% else %>
			    		<%= f.text_field :realizationDate, class: "form-control", value: l(@prescription.realizationDate, format: "%d.%m.%Y").humanize %>
			    	<% end %>
	    		<span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
		  </div>

		<div id="prescriptionpositionsform">
			<table class="table">
			<%= f.fields_for :position1 do |p1| %>
				<tr>
					<td class="positionheader">Pozycja 1:</td>
				</tr>
		    <tr>
		    	<td>
		    		<div class="form-group" id="medicine1">
					    <%= p1.label :Lek %><br />
					    <%= p1.text_field :medicine, class: "form-control", value: @position1.medicine %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p1.label "Dawka (opakowanie)" %><br />
					    <%= p1.text_field :dose, class: "form-control", value: @position1.dose %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p1.label "Użycie" %><br />
					    <%= p1.text_field :usage, class: "form-control", value: @position1.usage %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p1.label "Typ" %><br />
					    <%= p1.text_field :type, class: "form-control", value: @position1.type %>
					  </div>
			  	</td>
		  	</tr>
		  	<% end %>
		  	<%= f.fields_for :position2 do |p2| %>
				<tr>
					<td class="positionheader">Pozycja 2:</td>
				</tr>
		    <tr>
		    	<td>
		    		<div class="form-group" id="medicine2">
					    <%= p2.label :Lek %><br />
					    <%= p2.text_field :medicine, class: "form-control", value: @position2.medicine %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p2.label "Dawka (opakowanie)" %><br />
					    <%= p2.text_field :dose, class: "form-control", value: @position2.dose %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p2.label "Użycie" %><br />
					    <%= p2.text_field :usage, class: "form-control", value: @position2.usage %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p2.label "Typ" %><br />
					    <%= p2.text_field :type, class: "form-control", value: @position2.type %>
					  </div>
			  	</td>
		  	</tr>
		  	<% end %>
		  	<%= f.fields_for :position3 do |p3| %>
				<tr>
					<td class="positionheader">Pozycja 3:</td>
				</tr>
		    <tr>
		    	<td>
		    		<div class="form-group" id="medicine3">
					    <%= p3.label :Lek %><br />
					    <%= p3.text_field :medicine, class: "form-control", value: @position3.medicine %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p3.label "Dawka (opakowanie)" %><br />
					    <%= p3.text_field :dose, class: "form-control", value: @position3.dose %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p3.label "Użycie" %><br />
					    <%= p3.text_field :usage, class: "form-control", value: @position3.usage %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p3.label "Typ" %><br />
					    <%= p3.text_field :type, class: "form-control", value: @position3.type %>
					  </div>
			  	</td>
		  	</tr>
		  	<% end %>
		  	<%= f.fields_for :position4 do |p4| %>
				<tr>
					<td class="positionheader">Pozycja 4:</td>
				</tr>
		    <tr>
		    	<td>
		    		<div class="form-group" id="medicine4">
					    <%= p4.label :Lek %><br />
					    <%= p4.text_field :medicine, class: "form-control", value: @position4.medicine %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p4.label "Dawka (opakowanie)" %><br />
					    <%= p4.text_field :dose, class: "form-control", value: @position4.dose %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p4.label "Użycie" %><br />
					    <%= p4.text_field :usage, class: "form-control", value: @position4.usage %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p4.label "Typ" %><br />
					    <%= p4.text_field :type, class: "form-control", value: @position4.type %>
					  </div>
			  	</td>
		  	</tr>
		  	<% end %>
		  	<%= f.fields_for :position5 do |p5| %>
				<tr>
					<td class="positionheader">Pozycja 5:</td>
				</tr>
		    <tr>
		    	<td>
		    		<div class="form-group" id="medicine5">
					    <%= p5.label :Lek %><br />
					    <%= p5.text_field :medicine, class: "form-control",value: @position5.medicine %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p5.label "Dawka (opakowanie)" %><br />
					    <%= p5.text_field :dose, class: "form-control", value: @position5.dose %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p5.label "Użycie" %><br />
					    <%= p5.text_field :usage, class: "form-control", value: @position5.usage %>
					  </div>
			  	</td>
			  	<td>
		    		<div class="form-group">
					    <%= p5.label "Odpłatność" %><br />
					    <%= p5.text_field :type, class: "form-control", value: @position5.type %>
					  </div>
			  	</td>
		  	</tr>
		  	<% end %>
			</table>
		</div>

	  <div class="actions">
	    <%= f.submit "Zapisz receptę", class: "btn btn-primary visitdescriptiontextarea" %>
	    <%= f.submit "Zatwierdź", class: "btn btn-primary visitdescriptiontextarea" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do wizyty", new_medical_visit_visit_description_path(@medical_visit, @medical_visit.visit_description), class: "linkto" %></p>