<h1>Recepta dla pacjenta: <%= @medical_visit.patient.name %> <%= @medical_visit.patient.surname %></h1>
<% if @prescription.errors.any? %>
	<% @prescription.attributes.keys.each do |key| %>
		<% if @prescription.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @prescription.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>