<%= wicked_pdf_stylesheet_link_tag "application" %>
<div id="prescription">
	<table id="prescriptiontable">
		<tr id="pfirstrow">
			<td>
				<div id="prescriptiontitle">Recepta</div>
				<div id="prescriptionnumber"><!--23333333333333333333--> <%= @prescription.number %> </div>
				<div id="prescriptionclinicinfo">
					<%= ClinicData.name %><br>
					Ul. <%= ClinicData.street %> <%= ClinicData.address %> <br>
					<%= City.find(ClinicData.city).city_code %> <%= City.find(ClinicData.city).name %>, <%= ClinicData.country %> <br>
					Tel.: <%= ClinicData.phone %>, fax: <%= ClinicData.fax %> <br>
					REGON: <%= ClinicData.regon %>
				</div>
				<div id="phealthprovider">Świadczeniodawca</div>
			</td>
			<td width="0"></td>
		</tr>
		<tr id="psecondrow">
			<td>
				<div id="ppatienttitle">Pacjent</div>
				<div id="ppatined">
					<%= @prescription.patient.name %> <%= @prescription.patient.surname %> <br>
					Ul. <%= @prescription.patient.street %> <%= @prescription.patient.address %> <br>
					<%= City.find(@prescription.patient.city).city_code%> <%= City.find(@prescription.patient.city).name%>
				</div>
				<div id="ppeseltitle">PESEL:</div>
				<div id="ppesel"><%= @prescription.patient.pesel %></div>
			</td>
			<td class="pnfz">
				<table>
					<tr class="pnfztr">
						<td>
							<div id="pnfztitle">Oodział NFZ</div>
							<div id="pnfz"><%= @prescription.patient.patient.nfzbranch.identifier %></div>
						</td>
					</tr>
					<tr class="pnfztr" style="border-bottom:none">
						<td>
							<div id="ppermisionstitle">Uprawnienia</div>
							<div id="ppesmisions">X</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr id="pmedicinetitlerow" width="15mm">
			<td class="pposition1">
				<div id="prp">Rp.</div>
			</td>
			<td class="pposition2">
				<div id="ppayment">Odpłatność</div>
				</td>
		</tr>
		<tr class="ppositiontr" style="border-bottom:none" >
			<td class="pposition1">
				<div class="pposition">
					<%= @position1.medicine %> <br>
					<%= @position1.dose %>
				</div>
			</td>
			<td class="pposition2">
				<div class="ppositionpayment">
					<%= @position1.type %>
				</div>
			</td>
		</tr>
		<tr class="ppositiontr" style="border-bottom:none">
			<td class="pposition1">
				<div class="pposition">
					<%= @position2.medicine %> <br>
					<%= @position2.dose %>
				</div>
			</td>
			<td class="pposition2">
				<div class="ppositionpayment">
					<%= @position2.type %>
				</div>
			</td>
		</tr>
		<tr class="ppositiontr" style="border-bottom:none">
			<td class="pposition1">
				<div class="pposition">
					<%= @position3.medicine %> <br>
					<%= @position3.dose %>
				</div>
			</td>
			<td class="pposition2">
				<div class="ppositionpayment">
					<%= @position3.type %>
				</div>
			</td>
		</tr>
		<tr class="ppositiontr" style="border-bottom:none">
			<td class="pposition1">
				<div class="pposition">
					<%= @position4.medicine %> <br>
					<%= @position4.dose %>
				</div>
			</td>
			<td class="pposition2">
				<div class="ppositionpayment">
					<%= @position4.type %>
				</div>
			</td>
		</tr>
		<tr class="ppositiontr" style="border-bottom:none">
			<td class="pposition1">
				<div class="pposition">
					<%= @position5.medicine %> <br>
					<%= @position5.dose %>
				</div>
			</td>
			<td class="pposition2">
				<div class="ppositionpayment">
					<%= @position5.type %>
				</div>
			</td>
		</tr>
		<tr id="pcoderow">
			<td>
				<div id="pcodenumber">
					<%= @prescription.number %>
				</div>
			</td>
			<td width="0"></td>
		</tr>
		<tr id="plastrow">
			<td style="width:25mm">
				<table style="width:25mm">
					<tr class="pdatetr">
						<td style="width:25mm">
							<div id="pdrawdatetitle">Data wystawienia</div>
							<div id="pdrawdate">
								<%= l(@prescription.drawDate, format: "%d.%m.%Y").humanize %>
							</div>
						</td>
					</tr>
					<tr class="pdatetr" style="border-bottom:none">
						<td>
							<div id="prealizationdatetitle">Data realizacji</div>
							<div id="prealizationdate">
								<%= l(@prescription.realizationDate, format: "%d.%m.%Y").humanize %>
							</div></td>
					</tr>
				</table>
			</td>
			<td>
				<div id="pdoctor">
					<%= @prescription.doctor.name %> <%= @prescription.doctor.surname %> <br>
					ul. <%= @prescription.doctor.street %> <%= @prescription.doctor.address %> <br>
					<%= City.find(@prescription.doctor.city).city_code%> <%= City.find(@prescription.doctor.city).name%> <br>
					tel.: <%= @prescription.doctor.phone %> <br>
					Prawy wyk. zawodu: <%= @prescription.doctor.doctor.doctorRightNumber %>
				</div>
			</td>
		</tr>
	</table>
</div>