<h1>Recepta nr: <%= @prescription.number %></h1>

<div id="prescriptionshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Pacjent:</td>
	      	<td id="firstrow"><%= @prescription.patient.name %> <%= @prescription.patient.surname %></td>
	    </tr>
	    <tr>
	    	<td>Lekarz:</td>
	      	<td><%= @prescription.doctor.name %> <%= @prescription.doctor.surname %></td>
	    </tr>
	    <tr>
	    	<td>Data wypisania:</td>
	      	<td><%= l(@prescription.drawDate, format: "%d.%m.%Y").humanize %></td>
	    </tr>
	    <tr>
	    	<td>Data realizacji recepty:</td>
	      	<td><%= l(@prescription.realizationDate, format: "%d.%m.%Y").humanize %></td>
	    </tr>
	</table>
</div>

<h3>Pozycje recepty:</h3>

<div id="prescriptionpositionshowdiv">
	<table class="table table-hover">
		<thead>
			<th>Lp.</th>
			<th>Lek</th>
			<th>Dawka (opakowanie)</th>
			<th>Użycie</th>
			<th>Odpłatność</th>
			<th></th>
		</thead>
		<tbody>
			<% if @position1.medicine.present? %>
				<tr>
					<td>1</td>
					<td><%= @position1.medicine %></td>
					<td><%= @position1.dose %></td>
					<td><%= @position1.usage %></td>
					<td><%= @position1.type %></td>
				</tr>
			<% end %>
			<% if @position2.medicine.present? %>
				<tr>
					<td>2</td>
					<td><%= @position2.medicine %></td>
					<td><%= @position2.dose %></td>
					<td><%= @position2.usage %></td>
					<td><%= @position2.type %></td>
				</tr>
			<% end %>
			<% if @position3.medicine.present? %>
				<tr>
					<td>3</td>
					<td><%= @position3.medicine %></td>
					<td><%= @position3.dose %></td>
					<td><%= @position3.usage %></td>
					<td><%= @position3.type %></td>
				</tr>
			<% end %>
			<% if @position4.medicine.present? %>
				<tr>
					<td>4</td>
					<td><%= @position4.medicine %></td>
					<td><%= @position4.dose %></td>
					<td><%= @position4.usage %></td>
					<td><%= @position4.type %></td>
				</tr>
			<% end %>
			<% if @position5.medicine.present? %>
				<tr>
					<td>5</td>
					<td><%= @position5.medicine %></td>
					<td><%= @position5.dose %></td>
					<td><%= @position5.usage %></td>
					<td><%= @position5.type %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% if current_user.doctor? or current_user.admin? %>
	<p><%= link_to "Drukuj receptę", medical_visit_prescription_path(@medical_visit, @prescription, format: :pdf), class: "linkto", target: "_blank" %></p>
<% end %>
<p><%= link_to "Powrót do wizyty", medical_visits_show_path(@medical_visit), class: "linkto" %></p>