<h2>Logowanie</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Login %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Hasło %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Zapamiętaj mnie" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Zaloguj" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
