<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj <%= @user.name %> <%= @user.surname %>!</h1>
    <p>
      Zostałeś zarejestrowany jako nowa pielęgniarka w naszej przychodni.<br />
      Oto dane, za pomocą których możesz zalogować się do systemu:<br />
      Login: <b><%= @user.login %></b><br />
      Hasło: <b><%= @user.password %></b>.
      <br /><br />
      Zalogować sie możesz wchodząc w następujący link: <%= link_to "Logowanie", new_user_session_url %>
    </p>
  </body>
</html>