<% i=((params[:page].present? ? params[:page].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
			<th>
				<%= link_to schedules_index_path(sortable("id")), class: "sortinglink" do %>
					Nr.<%= column_name("id") %>
				<% end %>
			</th>
			<th>
				<%= link_to schedules_index_path(sortable("surname")), class: "sortinglink" do %>
					Lekarz<%= column_name("surname") %>
				<% end %>
			</th>
			<th>
				<%= link_to schedules_index_path(sortable("room_id")), class: "sortinglink" do %>
					Gabinet<%= column_name("room_id") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to schedules_index_path(sortable("startTime")), class: "sortinglink" do %>
					Początek<%= column_name("startTime") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to schedules_index_path(sortable("endTime")), class: "sortinglink" do %>
					Koniec<%= column_name("endTime") %>
				<% end %>
			</th>
			<th>
				<%= link_to schedules_index_path(sortable("interval")), class: "sortinglink" do %>
					Czy cykliczne<%= column_name("interval") %>
				<% end %>
			</th>
			<th>Szczegóły</th>
			<% if current_user.admin? %>
				<th>Edytuj</th>
		 		<th>Usuń</th>
			<% end %>
	  </thead>
  	<tbody>
			<% @schedules.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
					<td><%= f.room.name %> (<%= f.room.number %>)</td>
					<td><%= l(f.startTime, format: f.interval == 1 ? "%A %H:%M" : "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: f.interval == 1 ? "%A %H:%M" : "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.interval == 1 ? "Tak" : "Nie" %></td>
					<td><%= link_to "Szczegóły", schedules_show_path(f), :class => "btn btn-info"%></td>
					<% if current_user.admin? %>
						<td><%= link_to "Edytuj", schedules_edit_path(f), :class => "btn btn-primary"%></td>
	        	<td><%= link_to "Usuń", schedules_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
					<% end %>
				</tr>
			<% end %>
	  </tbody>
	</table>

<%= will_paginate @schedules, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>