<h1>Dodawanie nowego wpisu do grafiku</h1>
<% if @schedule.errors.any? %>
	<% @schedule.attributes.keys.each do |key| %>
		<% if @schedule.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @schedule.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="addscheduleform">

	<%= form_for @schedule, url: schedules_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Lekarz %><br />
	    <%= f.select(:doctor, User.where.not(doctor: nil).map { |e| ["#{e.name} #{e.surname}", e.id] }, {}, {:class => "form-control"}) %>
	  </div>

		<div class="form-group">
	    <%= f.label :Gabinet %><br />
	    <%= f.select(:room, Room.all.map { |e| ["#{e.name} (#{e.number})", e.id] }, {}, {:class => "form-control"}) %>
	  </div>

	  <div class="form-group">
		    <%= f.label "Czas rozpoczęcia" %>
		    	<div class='input-group datetimepicker' id='datetimepicker1'>
		    		<%= f.text_field :startTime, class: "form-control" %>
		    		<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
		  </div>

		  <div class="form-group">
		    <%= f.label "Czas zakończenia" %>
		    	<div class='input-group datetimepicker' id='datetimepicker1'>
		    		<%= f.text_field :endTime, class: "form-control" %>
		    		<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
		  </div>

		  <div class="form-group">
		  	<%= f.check_box :interval, id: "scheduleinterval" %>
		  	<%= f.label :interval, "Czy cykliczny"%>
		  </div>

		  <div class="form-group" id="scheduleintervalenddiv">
		    <%= f.label "Koniec wydarzenia cyklicznego" %>
		    	<div class='input-group date' id="datetimepicker">
		    		<%= f.text_field :intervalEnd, class: "form-control" %>
		    		<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
		  </div>

    <div class="actions">
	    <%= f.submit "Dodaj wpis do grafiku", class: "btn btn-primary" %>
	    <p><%= link_to "Powrót do grafiku", schedules_index_path, class: "linkto" %></p>
	  </div>
	<% end %>
</div>