<h1>Pozycja grafiku</h1>

<div id="scheduleshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Lekarz:</td>
      	<td id="firstrow"><%= @schedule.doctor.name %> <%= @schedule.doctor.surname %></td>
	    </tr>
	    <tr>
	    	<td>Gabinet:</td>
	      <td><%= @schedule.room.name %> (<%= @schedule.room.number %>)</td>
	    </tr>
	    <tr>
	    	<td>Czas rozpoczęcia:</td>
	      <td><%= l(@schedule.startTime, format: @schedule.interval == 1 ? "%A %H:%M" : "%d.%m.%Y %H:%M").humanize %></td>
	    </tr>
	    <tr>
	    	<td>Czas zakończenia:</td>
	      <td><%= l(@schedule.endTime, format: @schedule.interval == 1 ? "%A %H:%M" : "%d.%m.%Y %H:%M").humanize %></td>
	    </tr>
	    <tr>
	    	<td>Czy cykliczne:</td>
	      <td><%= @schedule.interval == 1 ? "Tak" : "Nie" %> </td>
	    </tr>
	    <% if @schedule.interval == 1 %>
		    <tr>
		    	<td>Czas zakończenia interwału:</td>
		      <td><%= @schedule.intervalEnd.strftime("%d.%m.%Y %H:%M") if @schedule.intervalEnd %> </td>
		    </tr>
	    <% end %>
	</table>
</div>

<p><%= link_to "Powrót do grafiku", schedules_index_path, class: "linkto" %></p>