<div id="dateserarchdiv">
	<%= form_tag medical_visits_index_path, :method => :get, :class => "navbar-form navbar-left", :role => "search", :id => "medical_visits_search_date", :enforce_utf8 => false do %>
		<table class="table" id="searchtable">
			<thead>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Wybierz datę:</th>
			</thead>
			<tbody>
				<tr>
					<td>
		    		<div class='input-group date datesearch' id='datetimesearchpicker'>
		    			<%= text_field_tag :date, params[:date], placeholder: "Wyszukaj", class: "form-control" %>
		    			<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
		           </span>
		        </div>
					</td>
		   	</tr>
			</tbody>
		</table>
	<% end %>
</div>

<% i=((params[:page].present? ? params[:page].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
			<th>
				<%= link_to medical_visits_index_path(sortable("id")), class: "sortinglink" do %>
					Nr.<%= column_name("id") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("startTime")), class: "sortinglink" do %>
					Początek<%= column_name("startTime") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("endTime")), class: "sortinglink" do %>
					Koniec<%= column_name("endTime") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("surname")), class: "sortinglink" do %>
					Pacjent<%= column_name("surname") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("room")), class: "sortinglink" do %>
					Gabinet<%= column_name("room") %>
				<% end %>
			</th>
			<th>Szczegóły</th>
			<th>Edytuj</th>
	  </thead>
  	<tbody>
			<% @medical_visits.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= l(f.startTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.patient.name %> <%= f.patient.surname %></td>
					<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
					<td><%= link_to "Szczegóły", medical_visits_show_path(f), :class => "btn btn-info"%></td>
					<% if f.startTime.to_date == Time.now.to_date %>
			    	<td><%= link_to "Edytuj", new_medical_visit_visit_description_path(f), :class => "btn btn-primary"%></td>
					<% end %>
				</tr>
			<% end %>
	  </tbody>
	</table>

<%= will_paginate @medical_visits, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>