<h3>Grafik doktora: <%= "#{@doctor.name} #{@doctor.surname}"%></h3>
<h3>Na dzień: <%= l(@date, format: "%d.%m.%Y").humanize %></h3>

<div id="medicalvisitformdoctorstable">
	<table class="table table-hover">
		<thead>
			<th>
				Czas rozpoczęcia
			</th>
			<th>
				Czas zakończenia
			</th>
			<th>
				Dostępność
			</th>
	  </thead>
		<tbody>
			<% @visits.each do |f| %>
				<tr>
					<td><%= l(f.start, format: "%H:%M").humanize %></td>
					<td><%= l(f.end, format: "%H:%M").humanize %></td>
					<td><%= f.status %></td>
				</tr>
			<% end %>
	  </tbody>
	</table>
</div>