<% i=((params[:page1].present? ? params[:page1].to_i : 1) - 1) * 10 %>
	<table class="table table-hover">
		<thead>
			<th>
					Nr.
			</th>
			<th>
					Początek
			</th>
			<th>
					Koniec
			</th>
			</th>
			</th>
			<th>
					Lekarz
			</th>
			<th>
					Gabinet
			</th>
			<th>Szczegóły</th>
	  </thead>
  	<tbody>
			<% @medical_visits.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= l(f.startTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
					<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
					<td><%= link_to "Szczegóły", medical_visits_show_path(f), :class => "btn btn-info"%></td>
				</tr>
			<% end %>
	  </tbody>
	</table>