<h3>Zaplanowane wizyty</h3>
<% i=((params[:page1].present? ? params[:page1].to_i : 1) - 1) * 10 %>
	<table class="table table-hover">
		<thead>
			<th>
				<%= link_to medical_visits_index_path(sortable("id")), class: "sortinglink" do %>
					Nr.<%= column_name("id") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("startTime")), class: "sortinglink" do %>
					Początek<%= column_name("startTime") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("endTime")), class: "sortinglink" do %>
					Koniec<%= column_name("endTime") %>
				<% end %>
			</th>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("surname")), class: "sortinglink" do %>
					Lekarz<%= column_name("surname") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("room")), class: "sortinglink" do %>
					Gabinet<%= column_name("room") %>
				<% end %>
			</th>
			<th>Szczegóły</th>
			<th>Edytuj</th>
	  </thead>
  	<tbody>
			<% @medical_visits.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= l(f.startTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
					<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
					<td><%= link_to "Szczegóły", medical_visits_show_path(f), :class => "btn btn-info"%></td>
			    <td><%= link_to "Edytuj", medical_visits_edit_path(f), :class => "btn btn-primary"%></td>
				</tr>
			<% end %>
	  </tbody>
	</table>

<%= will_paginate @medical_visits, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>', param_name: 'page1' %>

<h3>Odbyte wizyty</h3>
<% i=((params[:page2].present? ? params[:page2].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
			<th>
				<%= link_to medical_visits_index_path(sortable("id")), class: "sortinglink" do %>
					Nr.<%= column_name("id") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("startTime")), class: "sortinglink" do %>
					Początek<%= column_name("startTime") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("endTime")), class: "sortinglink" do %>
					Koniec<%= column_name("endTime") %>
				<% end %>
			</th>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("surname")), class: "sortinglink" do %>
					Lekarz<%= column_name("surname") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("room")), class: "sortinglink" do %>
					Gabinet<%= column_name("room") %>
				<% end %>
			</th>
			<th>Szczegóły</th>
	  </thead>
  	<tbody>
			<% @ended_visits.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= l(f.startTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
					<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
					<td><%= link_to "Szczegóły", medical_visits_show_path(f), :class => "btn btn-info"%></td>
				</tr>
			<% end %>
	  </tbody>
	</table>

<%= will_paginate @ended_visits, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>', param_name: 'page2' %>