<% i=((params[:page].present? ? params[:page].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
			<th>
				<%= link_to medical_visits_index_path(sortable("id")), class: "sortinglink" do %>
					Nr.<%= column_name("id") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("startTime")), class: "sortinglink" do %>
					Początek<%= column_name("startTime") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("endTime")), class: "sortinglink" do %>
					Koniec<%= column_name("endTime") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("patient_id")), class: "sortinglink" do %>
					Pacjent<%= column_name("patient_id") %>
				<% end %>
			</th>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("doctor_id")), class: "sortinglink" do %>
					Lekarz<%= column_name("doctor_id") %>
				<% end %>
			</th>
			<th>
				<%= link_to medical_visits_index_path(sortable("room")), class: "sortinglink" do %>
					Gabinet<%= column_name("room") %>
				<% end %>
			</th>
			<th>Szczegóły</th>
			<th>Edytuj</th>
		 	<th>Usuń</th>
	  </thead>
  	<tbody>
			<% @medical_visits.each do |f| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= l(f.startTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= l(f.endTime, format: "%d.%m.%Y %H:%M").humanize %></td>
					<td><%= f.patient.name %> <%= f.patient.surname %></td>
					<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
					<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
					<td><%= link_to "Szczegóły", medical_visits_show_path(f), :class => "btn btn-info"%></td>
			    <td><%= link_to "Edytuj", medical_visits_edit_path(f), :class => "btn btn-primary"%></td>
	        <td><%= link_to "Usuń", medical_visits_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
				</tr>
			<% end %>
	  </tbody>
	</table>

<%= will_paginate @medical_visits, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>