<div id="medicalvisitform">

	<%= form_for @medical_visit, url: ((params[:action] == 'new' or params[:action] == 'create') ? medical_visits_create_path : medical_visits_update_path(@medical_visit)), :method => (params[:action] == 'new' or params[:action] == 'create' ? :post : :put), html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Lekarz %><br />
	    <%= f.select(:doctor, User.where.not(doctor: nil).where(isactive: true).map { |e| ["#{e.name} #{e.surname}", e.id] }, {selected: @medical_visit.doctor ? @medical_visit.doctor.id :  User.where.not(doctor: nil).first.id}, {:class => "form-control"}) %>
	  </div>

		<div class="form-group">
	    <%= f.label :Pacient %><br />
	  	<%= f.autocomplete_field :patient ,autocomplete_patient_name_medical_visits_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_patient_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
			<%= hidden_field(:post, :patient_id, :value => get_patient_id(@medical_visit.patient))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

	  <div class="form-group">
		    <%= f.label "Czas rozpoczęcia" %>
		    	<div class='input-group date datetimepickerdatetime' id='datetimepicker1'>
		    	<% if @medical_visit.startTime.nil? %>
		    		<%= f.text_field :startTime, class: "form-control" %>
		    	<% else %>
		    		<%= f.text_field :startTime, class: "form-control", value: l(@medical_visit.startTime, format: "%d.%m.%Y %H:%M").humanize %>
		    	<% end %>
		    		<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
		  </div>

    <div class="actions">
	    <%= f.submit "Zapisz wizytę", class: "btn btn-primary" %>
	    <p><%= link_to "Powrót do wizyt", medical_visits_index_path, class: "linkto" %></p>
	  </div>
	<% end %>
</div>
<div id="medicalvisitformdoctors">
	<%= render 'doctorvisits' %>
</div>