<% if current_user.patient? %>
	$('#visits').html('<%= escape_javascript(render("patientvisits")) %>');
<% elsif current_user.doctor? %>
	$('#visits').html('<%= escape_javascript(render("doctorindexvisits")) %>');
<% else %>
	$('#visits').html('<%= escape_javascript(render("receptionistvisits")) %>');
<% end %>
