<% if current_user.doctor? %>
	<h1>Realizacja wizyt</h1>
<% else %>
	<h1>Rejestracja wizyt</h1>
<% end %>

<% if current_user.receptionist? or current_user.patient? or current_user.admin?  %>
	<div class="addlinkdiv">
		<p><%= link_to "Zarejestruj wizytę", medical_visits_new_path, class: "addlink"%></p>
	</div>
<% end %>

<% if (current_user.receptionist? or current_user.doctor? or current_user.admin?) and !params[:format] %>
	<div id="serarchdiv">
		<%= form_tag medical_visits_index_path, :method => :get, :class => "navbar-form navbar-left", :role => "search", :id => "schedules_search", :enforce_utf8 => false do %>
			<table class="table" id="searchtable">
				<thead>
					<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Wyszukaj:</th>
				</thead>
				<tbody>
					<tr>
						<td>
						  <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj", class: "form-control" %>
						</td>
			   	</tr>
				</tbody>
			</table>
		<% end %>
	</div>
<% end %>

<div id="visits">
	<% if current_user.doctor? and params[:format] %>
		<%= render "onepatientvisits" %>
	<% elsif current_user.patient? %>
		<%= render "patientvisits" %>
	<% elsif current_user.doctor? %>
		<%= render "doctorindexvisits" %>
	<% else %>
		<%= render "receptionistvisits" %>
	<% end %>
</div>