<h1>Rejestracja nowej wizyty</h1>
<% if @medical_visit.errors.any? %>
	<% @medical_visit.attributes.keys.each do |key| %>
		<% if @medical_visit.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @medical_visit.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<% if current_user.patient? %>
	<%= render 'patientform' %>
<% elsif current_user.receptionist? or current_user.admin? %>
	<%= render 'receptionistform' %>
<% end %>