<h1>Wizyta dnia <%= l(@medical_visit.startTime, format: "%d.%m.%Y").humanize %></h1>

<div id="medicalvisitshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow" class="col-md-4">Pacjent:</td>
	     	<td id="firstrow"><%= @medical_visit.patient.name %> <%= @medical_visit.patient.surname %></td>
	    </tr>
	    <tr>
	    	<td>Lekarz:</td>
	     	<td><%= @medical_visit.doctor.name %> <%= @medical_visit.doctor.surname %></td>
	    </tr>
	    <tr>
	    	<td>Data wizyty:</td>
	      <td><%= l(@medical_visit.startTime, format: "%d.%m.%Y %H:%M").humanize %>-<%= l(@medical_visit.endTime, format: "%H:%M").humanize %></td>
	    </tr>
	    <tr>
	    	<td>Gabinet</td>
	    	<td><%= Schedule.visit_room(@medical_visit.doctor, @medical_visit.startTime) %></td>
	    </tr>
	    <tr>
	    	<td>Staus</td>
	    	<td><%= @medical_visit.ended ? "zrealizowana" : "niezralizowana" %></td>
	    </tr>
	    <% if @medical_visit.ended %>
	    	<tr>
		    	<td>Objawy</td>
		    	<td><%= @medical_visit.visit_description.symptoms %></td>
		    </tr>
		    <tr>
		    	<td>Opis badania</td>
		    	<td><%= @medical_visit.visit_description.examDescription %></td>
		    </tr>
		    <tr>
		    	<td>Diagnoza</td>
		    	<td><%= @medical_visit.visit_description.diagnosis %></td>
		    </tr>
		    <tr>
		    	<td>Choroba</td>
		    	<td><%= @medical_visit.visit_description.disease.code %> - <%= @medical_visit.visit_description.disease.name %></td>
		    </tr>
		    <tr>
		    	<td>Sposób leczenia</td>
		    	<td><%= @medical_visit.visit_description.treatment %></td>
		    </tr>
	    <% end %>
	</table>
</div>

<% if @medical_visit.ended %>
	<h3>Recepty:</h3>

	<div id="medicalvisitprescriptionsshowdiv">
		<table class="table table-hover">
			<% i=0 %>
			<thead>
				<th>Lp.</th>
				<th>Numer recepty</th>
				<th>Data realizacji</th>
				<th>Szczegóły</th>
			</thead>
			<tbody>
				<% @medical_visit.prescriptions.each do |f| %>
					<tr>
						<td><%= i+=1 %></td>
						<td><%= f.number %></td>
						<td><%= l(f.realizationDate, format: "%d.%m.%Y").humanize %></td>
						<td><%= link_to "Szczegóły", medical_visit_prescription_path(@medical_visit, f), :class => "btn btn-info"%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>

<p><%= link_to "Powrót do wizyt", medical_visits_index_path, class: "linkto" %></p>