<div id="maininfo">
	<div id="adminindexl">
		<h1>Witaj <%= current_user.name %>!</h1>
		Statystyki dotyczące użytkowników:
		<div id="adminstable">
			<table class="table table-hover">
			    <tr>
			    	<td id="firstrow">Administratorzy:</td>
			      	<td id="firstrow"><%= User.where.not(admin: nil).count %></td>
			    </tr>
			    <tr>
			    	<td>Lekarze:</td>
			      <td><%= User.where.not(doctor: nil).count %> </td>
			    </tr>
			    <tr>
			    	<td>Recepcjonistki:</td>
			      <td><%= User.where.not(receptionist: nil).count %> </td>
			    </tr>
			    <tr>
			    	<td>Pielęgniarki:</td>
			      <td><%= User.where.not(nurse: nil).count %> </td>
			    </tr>
			    <tr>
			    	<td>Pacjenci:</td>
			      <td><%= User.where.not(patient: nil).count %> </td>
			    </tr>
			     <tr>
			    	<td><b>Łącznie:</b></td>
			      <td><b><%= User.all.count %></b> </td>
			    </tr>
			</table>
		</div>
</div>
	<div id="adminindex">
		<h2>Statystyka wizyt:</h2>
		<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Niezrealizowane:</td>
	      	<td id="firstrow"><%= MedicalVisit.where(ended: 0).count %></td>
	    </tr>
	    <tr>
	    	<td>Zrealizowane:</td>
	      <td><%= MedicalVisit.where(ended: 1).count %> </td>
	    </tr>
	     <tr>
	    	<td><b>Łącznie:</b></td>
	      <td><b><%= MedicalVisit.all.count %></b> </td>
	    </tr>
		</table>
		<h2>Badania:</h2>
		<table class="table table-hover">
	    <tr>
	    	<td id="firstrow" style="width:81%">Wprowadzone wyniki badań:</td>
	      <td id="firstrow"><%= Examination.all.count %></td>
	    </tr>
		</table>
	</div>
</div>