<div id="maininfo">
	<div id="doctorindexl">
	<h1>Witaj <%= current_user.name %>!</h1>
	<% schedule = Schedule.doctor_visits(current_user, DateTime.now).first %>
	<% if schedule.nil? %>
		Masz dzisiaj wolne!
	<% else %>
		<% visits = MedicalVisit.where(doctor: current_user).where("date(startTime) = :date",  date: "#{DateTime.now.to_date}") %>
		W dniu dzisiejszym przyjmujesz: <%= l(schedule.startTime, format: "%H:%M").humanize  %> - <%= l(schedule.endTime, format: "%H:%M").humanize  %>. <br>
		Ilość zarejestrowanych wizyt na dzisiaj: <%= visits.count %>. 
	</div>
		<% if visits.count > 0 %>
			<% i=0 %>
			<div id="doctorindex">
				<h2>Twoje dzisiejsze wizyty:</h2>
				<table class="table table-hover">
					<thead>
						<th>
								Nr.
						</th>
						<th>
								Początek
						</th>
						<th>
								Koniec
						</th>
						<th>
								Gabinet
						</th>
				  </thead>
			  	<tbody>
						<% visits.each do |f| %>
							<tr>
								<td><%= i+=1 %></td>
								<td><%= l(f.startTime, format: "%H:%M").humanize %></td>
								<td><%= l(f.endTime, format: "%H:%M").humanize %></td>
								<td><%= Schedule.visit_room(f.doctor, f.startTime) %></td>
							</tr>
						<% end %>
				  </tbody>
				</table>
			</div>
		<% end %>
	<% end %> <br>
</div>