<div id="maininfo">
	<div id="adminindexl">
		<h1>Witaj <%= current_user.name %>!</h1>
		Statystyki wprowadzonych przez Ciebie badań:
		<div id="adminstable">
			<table class="table table-hover">
			    <tr>
			    	<td id="firstrow">Niezatwierdzone:</td>
			      	<td id="firstrow"><%= Examination.where(nurse: current_user).where(isconfirmed: 0).count %></td>
			    </tr>
			    <tr>
			    	<td>Zatwierdzone:</td>
			      <td><%= Examination.where(nurse: current_user).where(isconfirmed: 1).count %> </td>
			     <tr>
			    	<td><b>Łącznie:</b></td>
			      <td><b><%= Examination.where(nurse: current_user).count %></b> </td>
			    </tr>
			</table>
		</div>
</div>