<div id="maininfo">
	<div id="adminindexl">
		<h1>Witaj <%= current_user.name %>!</h1>
		Twoje wizyty:
		<div id="adminstable">
			<table class="table table-hover">
			    <tr>
			    	<td id="firstrow">Niezrealizowane:</td>
			      	<td id="firstrow"><%= MedicalVisit.where(patient: current_user).where(ended: 0).count %></td>
			    </tr>
			    <tr>
			    	<td>Zrealizowane:</td>
			      <td><%= MedicalVisit.where(patient: current_user).where(ended: 1).count %> </td>
			    </tr>
			    	<td><b>Łącznie:</b></td>
			      <td><b><%= MedicalVisit.where(patient: current_user).count %></b> </td>
			    </tr>
			</table>
		</div>
</div>
	<div id="adminindex">
		<h2>Twoje badania:</h2>
			<table class="table table-hover">
		    <tr>
		    	<td id="firstrow">Niezatwierdzone:</td>
		      	<td id="firstrow"><%= Examination.where(patient: current_user).where(isconfirmed: 0).count %></td>
		    </tr>
		    <tr>
		    	<td>Zatwierdzone:</td>
		      <td><%= Examination.where(patient: current_user).where(isconfirmed: 1).count %> </td>
		    </tr>
		    	<td><b>Łącznie:</b></td>
		      <td><b><%= Examination.where(patient: current_user).count %></b> </td>
		    </tr>
			</table>
		<h2>Twoje recepty:</h2>
			<table class="table table-hover">
		    <tr>
		    	<td id="firstrow" style="width:86%">Wypisane:</td>
		      	<td id="firstrow"><%= Prescription.where(patient: current_user).count %></td>
			</table>
	</div>
</div>