<div id="maininfo">
	<div id="adminindexl">
		<h1>Witaj <%= current_user.name %>!</h1>
		Wizyty w dniu dzisiejszym:
		<div id="adminstable">
			<table class="table table-hover">
			    <tr>
			    	<td id="firstrow">Niezrealizowane:</td>
			      	<td id="firstrow"><%= MedicalVisit.where("date(startTime) = :date",  date: "#{DateTime.now.to_date}").where(ended: 0).count %></td>
			    </tr>
			    <tr>
			    	<td>Zrealizowane:</td>
			      <td><%= MedicalVisit.where("date(startTime) = :date",  date: "#{DateTime.now.to_date}").where(ended: 1).count %> </td>
			    </tr>
			    	<td><b>Łącznie:</b></td>
			      <td><b><%= MedicalVisit.where("date(startTime) = :date",  date: "#{DateTime.now.to_date}").count %></b> </td>
			    </tr>
			</table>
		</div>
</div>
	<div id="adminindex">
		<h2>Dzisiejsze wizyty:</h2>
			<% i=0 %>
			<table class="table table-hover">
				<thead>
					<th>
							Nr.
					</th>
					<th>
							Początek
					</th>
					<th>
							Koniec
					</th>
					<th>
							Lekarz
					</th>
					<th>
							Zrealizowana
					</th>
			  </thead>
		  	<tbody>
					<% MedicalVisit.where("date(startTime) = :date",  date: "#{DateTime.now.to_date}").each do |f| %>
						<tr>
							<td><%= i+=1 %></td>
							<td><%= l(f.startTime, format: "%H:%M").humanize %></td>
							<td><%= l(f.endTime, format: "%H:%M").humanize %></td>
							<td><%= f.doctor.name %> <%= f.doctor.surname %></td>
							<td><%= f.ended ? "Tak" : "Nie" %></td>
						</tr>
					<% end %>
			  </tbody>
			</table>
	</div>
</div>