<% if current_user.present? %>
	<% if current_user.admin? %>
		<%= render partial: 'admin' %>
	<% elsif current_user.doctor? %>
		<%= render partial: 'doctor' %>
	<% elsif current_user.nurse? %>
		<%= render partial: 'nurse' %>
	<% elsif current_user.receptionist? %>
		<%= render partial: 'receptionist' %>
	<% elsif current_user.patient? %>
		<%= render partial: 'patient' %>
	<% end %>
<% end %>