<div id="visitdescriptionform">
	<h3>Przebieg wizyty</h3>
	<%= form_for ([@medical_visit, @visit_description]), html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Objawy %><br />
	    <%= f.text_area :symptoms, autofocus: true, class: "form-control visitdescriptiontextarea", rows: 5%>
	  </div>

	  <div class="form-group">
	    <%= f.label "Opis badania" %><br />
	    <%= f.text_area :examDescription, class: "form-control visitdescriptiontextarea", rows: 5 %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Diagnoza %><br />
	    <%= f.text_area :diagnosis, class: "form-control visitdescriptiontextarea", rows: 5 %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Choroba %><br />
	    <%= f.select(:disease, Disease.all.map { |e| [e.code + " - " + e.name, e.id] }, {selected: @visit_description.disease ? @visit_description.disease.id :  Disease.first.id}, {:class => "form-control"}) %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Sposób leczenia" %><br />
	    <%= f.text_area :treatment, class: "form-control visitdescriptiontextarea", rows: 5 %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Zapisz wizytę", class: "btn btn-primary visitdescriptiontextarea" %>
	    <%= f.submit "Zakończ wizytę", class: "btn btn-primary visitdescriptiontextarea" %>
	  </div>
	<% end %>
	<p><%= link_to "Powrót do wizyt", medical_visits_index_path %></p>
</div>

<div id="visitdescriptionpatient">
	<h3>Dane pacjenta</h3>
	<table class="table table-hover">
    <tr>
    	<td id="firstrow">Pacjent:</td>
    	<td id="firstrow"><%= @medical_visit.patient.name %> <%= @medical_visit.patient.surname %></td>
    </tr>
    <tr>
    	<td>Pesel:</td>
      <td><%= @medical_visit.patient.pesel %></td>
    </tr>
    <tr>
    	<td>Numer ubezpieczenia</td>
      <td><%= @medical_visit.patient.patient.insurancenumber %></td>
    </tr>
    <tr>
    	<td>Oddział NFZ</td>
      <td><%= @medical_visit.patient.patient.nfzbranch.identifier %> - <%= @medical_visit.patient.patient.nfzbranch.name %></td>
    </tr>
	</table>
	<%= link_to "Wyniki badań pacjenta", examinations_index_path(@medical_visit.patient) %> </br>
	<%= link_to "Historia choroby pacjenta", medical_visits_index_path(@medical_visit.patient, format: @medical_visit.patient.id) %> </br>
	<%= link_to "Choroby przewlekłe", user_chronic_diseases_path(@medical_visit.patient) %> </br>
	<%= link_to "Stale brane leki", user_chronic_medicines_path(@medical_visit.patient) %> </br>
	<%= link_to "Leki alergenne", user_alergic_medicines_path(@medical_visit.patient) %> </br>
	<%= link_to "Dodaj receptę",  new_medical_visit_prescription_path(@medical_visit) %>
	<div>
		<table class="table table-hover">
			<thead>
		    <th>Nr. recepty</th>
		    <th>Podgląd</th>
		    <th>Edytuj</th>
		    <th>Usuń</th>
	    </thead>
	    <tbody>
				<% @medical_visit.prescriptions.each do |f| %>
					<tr>
						<td><%= f.number %></td>
						<td><%= link_to "Drukuj receptę", medical_visit_prescription_path(@medical_visit, f, format: :pdf), class: "btn btn-info", target: "_blank" %></td>
						<td><%= link_to "Edytuj", edit_medical_visit_prescription_path(@medical_visit, f), :class => "btn btn-primary"%></td>
		        <td><%= link_to "Usuń", medical_visit_prescription_path(@medical_visit, f), method: :delete, data: { confirm: 'Na pewno usunąć tą receptę?' }, :class => "btn btn-danger"%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>