<h1>Wizyta pacjenta: <%= @medical_visit.patient.name %> <%= @medical_visit.patient.surname %></h1>
<% if @visit_description.errors.any? %>
	<% @visit_description.attributes.keys.each do |key| %>
		<% if @visit_description.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @visit_description.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>