<h1>Pacjenci</h1>

<% if current_user.admin? or current_user.receptionist? %>
	<div class="addlinkdiv">
		<p><%= link_to "Dodaj nowego pacjenta", patients_new_path, class: "addlink"%></p>
	</div>
<% end %>

<div id="serarchdiv">
	<%= form_tag patients_index_path, :method => :get, :class => "navbar-form navbar-left", :role => "search", :id => "patients_search", :enforce_utf8 => false do %>
		<table class="table" id="searchtable">
			<thead>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Wyszukaj:</th>
			</thead>
			<tbody>
				<tr>
					<td>
					  <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj", class: "form-control" %>
					</td>
		   	</tr>
			</tbody>
		</table>
	<% end %>
</div>

<div id="patients">
	<%= render "patients" %>
</div>