<h1>Rejestracja nowego pacjenta</h1>
<% if @user.errors.any? %>
	<% @user.attributes.keys.each do |key| %>
		<% if @user.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @user.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>
<% if @user.patient.errors.full_messages.any? %>
	<% @user.patient.attributes.keys.each do |key| %>
		<% if @user.patient.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @user.patient.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="patientregistrationform">

	<%= form_for @user, url: patients_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Imię %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Nazwisko %><br />
	    <%= f.text_field :surname, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Płeć %><br />
	    <%= select_tag :sex, options_for_select([['Kobieta', 0], ['Mężczyzna', 1]], @user.sex),  class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'E-mail' %><br />
	    <%= f.email_field :email, class: "form-control" %>
	  </div>

		<div class="form-group">
	    <%= f.label :Miasto %><br />
	  	<%= f.autocomplete_field :city ,autocomplete_city_name_admins_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_city_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
	  	<%= hidden_field(:post, :city_id, :value => get_city_id(@user.city))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

	  <div class="form-group">
	    <%= f.label :Ulica %><br />
	    <%= f.text_field :street, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'Nr domu i mieszkania' %><br />
	    <%= f.text_field :address, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Pesel %><br />
	    <%= f.text_field :pesel, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Telefon %><br />
	    <%= f.text_field :phone, class: "form-control" %>
	  </div>

		<%= f.fields_for :patient do |f1| %>
		  <div class="form-group">
		    <%= f1.label "Numer ubezpieczenia" %>
		    <%= f1.text_field :insurancenumber, class: "form-control" %>
		  </div>

		  <div class="form-group">
		    <%= f1.label "Oddział NFZ" %>
		    <%= f1.select(:nfzbranch, NfzBranch.all.map { |e| [e.name, e.id] }, {selected: @user.patient.nfzbranch ? @user.patient.nfzbranch.id :  NfzBranch.first.id}, {:class => "form-control"}) %>
		  </div>

		  <div class="form-group">
		    <%= f1.label "Lekarz główny" %>
		    <%= f1.select(:maindoctor, Doctor.joins(:user).where('isactive = 1').map { |e| [e.user.name + " " + e.user.surname, e.id] }, {selected: @user.patient.maindoctor ? @user.patient.maindoctor.id :  User.where.not(doctor: nil).first.id}, {:class => "form-control"}) %>
		  </div>

		<% end %>

	  <div class="actions">
	    <%= f.submit "Zarejestruj pacjenta", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do pacjentów", patients_index_path, class: "linkto" %></p>