<h1>Pacjent <%= @user.name %> <%= @user.surname %></h1>

<div id="patientshow">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow" class="col-md-4">Login</td>
	     	<td id="firstrow"><%= @user.login %></td>
	    </tr>
	    <tr>
	    	<td>E-mail</td>
	    	<td><%= @user.email %></td>
	    </tr>
	    <tr>
	    	<td>Telefon</td>
	    	<td><%= @user.phone %></td>
	    </tr>
	    <tr>
	    	<td>Pesel</td>
	    	<td><%= @user.pesel %></td>
	    </tr>
	    <tr>
	    	<td>Płeć</td>
	     	<td><%= @user.sex == 0 ? "Kobieta" : "Mężczyzna" %></td>
	    </tr>
	    <tr>
	    	<td>Adres</td>
	     	<td><%= @user.city.to_s %>, <%= @user.street %> <%= @user.address %></td>
	    </tr>
	    <tr>
	    	<td>Numer ubezpieczenia</td>
	     	<td><%= @user.patient.insurancenumber %></td>
	    </tr>
	    <tr>
	    	<td>Oddział NFZ</td>
	     	<td><%= @user.patient.nfzbranch.name %></td>
	    </tr>
    	<tr>
	    	<td>Lekarz główny</td>
	     	<td><%= @user.patient.maindoctor.user.name %> <%= @user.patient.maindoctor.user.surname %></td>
	    </tr>
	    <tr>
	    	<td>Data rejestracji</td>
	     	<td><%= @user.patient.registrationdate %></td>
	    </tr>
	</table>
	<p><%= link_to "Powrót do pacjentów", patients_index_path, class: "linkto" %></p>
</div>

<div id="patientinfo">
	<div>
		<% if @user.chronic_diseases.size > 0 or current_user.admin? or current_user.receptionist? %>
			<h3>Choroby przewlekłe</h3>
			<% i=0 %>
			<table class="table table-hover">
				<thead>
					<th>Nr.</th>
					<th>Nazwa</th>
					<% if current_user.admin? or current_user.receptionist? %>
						<th>Edytuj</th>
						<th>Usuń</th>
					<% end %>
		  	</thead>
		  	<tbody>
				<% @user.chronic_diseases.each do |f| %>
					<tr>
						<td><%= i+=1 %></td>
						<td><%= f.name %></td>
						<% if current_user.admin? or current_user.receptionist? %>
							<td><%= link_to "Edytuj", edit_user_chronic_disease_path(@user, f), :class => "btn btn-primary"%></td>
		      		<td><%= link_to "Usuń", user_chronic_disease_path(@user, f), method: :delete, data: { confirm: 'Na pewno usunąć wynik badania?' }, :class => "btn btn-danger"%></td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		<% end %>
		<% if current_user.admin? or current_user.receptionist? %>
			<%= link_to "Dodaj chorobę przewlekłą", new_user_chronic_disease_path(@user) %>
		<% end %>
	</div>
	<div>
		<% if @user.chronic_medicines.size > 0 or current_user.admin? or current_user.receptionist? %>
			<h3>Stale brane leki</h3>
			<% i=0 %>
			<table class="table table-hover">
				<thead>
					<th>Nr.</th>
					<th>Nazwa</th>
					<% if current_user.admin? or current_user.receptionist? %>
						<th>Edytuj</th>
						<th>Usuń</th>
					<% end %>
		  	</thead>
		  	<tbody>
				<% @user.chronic_medicines.each do |f| %>
					<tr>
						<td><%= i+=1 %></td>
						<td><%= f.name %></td>
						<% if current_user.admin? or current_user.receptionist? %>
							<td><%= link_to "Edytuj", edit_user_chronic_medicine_path(@user, f), :class => "btn btn-primary"%></td>
		      		<td><%= link_to "Usuń", user_chronic_medicine_path(@user, f), method: :delete, data: { confirm: 'Na pewno usunąć wynik badania?' }, :class => "btn btn-danger"%></td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		<% end %>
		<% if current_user.admin? or current_user.receptionist? %>
			<%= link_to "Dodaj lek przewkleły", new_user_chronic_medicine_path(@user) %>
		<% end %>
	</div>
	<div>
		<% if @user.alergic_medicines.size > 0 or current_user.admin? or current_user.receptionist? %>
			<h3>Leki alergenne</h3>
			<% i=0 %>
			<table class="table table-hover">
				<thead>
					<th>Nr.</th>
					<th>Nazwa</th>
					<% if current_user.admin? or current_user.receptionist? %>
						<th>Edytuj</th>
						<th>Usuń</th>
					<% end %>
		  	</thead>
		  	<tbody>
				<% @user.alergic_medicines.each do |f| %>
					<tr>
						<td><%= i+=1 %></td>
						<td><%= f.name %></td>
						<% if current_user.admin? or current_user.receptionist? %>
							<td><%= link_to "Edytuj", edit_user_alergic_medicine_path(@user, f), :class => "btn btn-primary"%></td>
		      		<td><%= link_to "Usuń", user_alergic_medicine_path(@user, f), method: :delete, data: { confirm: 'Na pewno usunąć wynik badania?' }, :class => "btn btn-danger"%></td>
						<% end %>
					</tr>
				<% end %>
			  </tbody>
			</table>
		<% end %>
		<% if current_user.admin? or current_user.receptionist? %>
			<%= link_to "Dodaj lek alergenny", new_user_alergic_medicine_path(@user) %>
		<% end %>
	</div>
</div>
