<% i=((params[:page].present? ? params[:page].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
		<th>
			<%= link_to doctors_index_path(sortable("id")), class: "sortinglink" do %>
				Nr.<%= column_name("id") %>
			<% end %>
		</th>
		<th>
			<%= link_to doctors_index_path(sortable("surname")), class: "sortinglink" do %>
				Imię i nazwisko<%= column_name("surname") %>
			<% end %>
		</th>
		<th>
			<%= link_to doctors_index_path(sortable("login")), class: "sortinglink" do %>
				Login<%= column_name("login") %>
			<% end %>
		</th>
		<% if current_user.admin? %>
			<th>
			<%= link_to doctors_index_path(sortable("isactive")), class: "sortinglink" do %>
				Status<%= column_name("isactive") %>
			<% end %>
		</th>
		<% end %>
		<th>
			<%= link_to doctors_index_path(sortable("specialization")), class: "sortinglink" do %>
				Specjalizacja<%= column_name("specialization") %>
			<% end %>
		</th>
		<th>Szczegóły</th>
		<% if current_user.admin? %>
			<th>Edytuj</th>
	 		<th>Usuń</th>
		<% end %>
	  	</thead>
	  	<tbody>
		<% @users.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %> <%= f.surname %></td>
				<td><%= f.login %></td>
				<% if current_user.admin? %>
					<td><%= f.isactive ? "Aktywny" : "Usunięty" %></td>
				<% end %>
				<td><%= f.doctor.specialization %></td>
				<td><%= link_to "Szczegóły", doctors_show_path(f), :class => "btn btn-info"%></td>
				<% if current_user.admin? %>
					<td><%= link_to "Edytuj", doctors_edit_path(f), :class => "btn btn-primary"%></td>
       	  <td><%= link_to "Usuń", doctors_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
				<% end %>
			</tr>
		<% end %>
	  </tbody>
	</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>