<h1>Rejestracja nowej pielęgniarki</h1>
<% if @user.errors.any? %>
	<% @user.attributes.keys.each do |key| %>
		<% if @user.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @user.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>
<% if @user.nurse.errors.full_messages.any? %>
	<% @user.nurse.attributes.keys.each do |key| %>
		<% if @user.nurse.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @user.nurse.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>
<div id="nurseregistrationform">

	<%= form_for @user, url: nurses_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Imię %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Nazwisko %><br />
	    <%= f.text_field :surname, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Płeć %><br />
	    <%= select_tag :sex, options_for_select([['Kobieta', 0], ['Mężczyzna', 1]], @user.sex),  class: "form-control" %>
	  </div>


	  <div class="form-group">
	    <%= f.label :Login %><br />
	    <%= f.text_field :login, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'E-mail' %><br />
	    <%= f.email_field :email, class: "form-control" %>
	  </div>

		<div class="form-group">
	    <%= f.label :Miasto %><br />
	  	<%= f.autocomplete_field :city ,autocomplete_city_name_admins_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_city_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
	  	<%= hidden_field(:post, :city_id, :value => get_city_id(@user.city))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

	  <div class="form-group">
	    <%= f.label :Ulica %><br />
	    <%= f.text_field :street, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label 'Nr domu i mieszkania' %><br />
	    <%= f.text_field :address, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Pesel %><br />
	    <%= f.text_field :pesel, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Telefon %><br />
	    <%= f.text_field :phone, class: "form-control" %>
	  </div>

		<%= f.fields_for :nurse do |f1| %>
		  <div class="form-group">
		    <%= f1.label :Stopień %>
		    <%= f1.text_field :degree, class: "form-control" %>
		  </div>

		  <div class="form-group">
		    <%= f1.label :Specjalizacja %>
		    <%= f1.text_field :specialization, class: "form-control" %>
		  </div>

		  <div class="form-group">
		    <%= f1.label "Numer uprawnień" %>
		    <%= f1.text_field :nurseRightNumber, class: "form-control" %>
		  </div>

		  <div class="form-group">
		    <%= f1.label "Data zatrudnienia" %>
		    	<div class='input-group date' id='datetimepicker'>
		    		<% if @user.nurse.employmentDate.nil? %>
			    		<%= f1.text_field :employmentDate, class: "form-control" %>
			    	<% else %>
			    		<%= f1.text_field :employmentDate, class: "form-control", value: l(@user.nurse.employmentDate, format: "%d.%m.%Y %H:%M").humanize %>
			    	<% end %>
		    		<span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
		  </div>
		<% end %>

	  <div class="actions">
	    <%= f.submit "Zarejestruj pielęgniarkę", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do pielęgniarek", nurses_index_path, class: "linkto" %></p>