<h1>Pielęgniarka <%= @user.name %> <%= @user.surname %></h1>

<div id="usershowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow" class="col-md-4">Login</td>
	     	<td id="firstrow"><%= @user.login %></td>
	    </tr>
	    <tr>
	    	<td>E-mail</td>
	    	<td><%= @user.email %></td>
	    </tr>
	    <tr>
	    	<td>Telefon</td>
	    	<td><%= @user.phone %></td>
	    </tr>
	    <tr>
	    	<td>Pesel</td>
	    	<td><%= @user.pesel %></td>
	    </tr>
	    <tr>
	    	<td>Płeć</td>
	     	<td><%= @user.sex == 0 ? "Kobieta" : "Mężczyzna" %></td>
	    </tr>
	    <tr>
	    	<td>Adres</td>
	     	<td><%= @user.city.to_s %>, <%= @user.street %> <%= @user.address %></td>
	    </tr>
	    <tr>
	    	<td>Stopień naukowy</td>
	     	<td><%= @user.nurse.degree %></td>
	    </tr>
	    <tr>
	    	<td>Specjalizacja</td>
	     	<td><%= @user.nurse.specialization %></td>
	    </tr>
	    <tr>
	    	<td>Numer uprawnień</td>
	     	<td><%= @user.nurse.nurseRightNumber %></td>
	    </tr>
	    <tr>
	    	<td>Data zatrudnienia</td>
	     	<td><%= @user.nurse.employmentDate %></td>
	    </tr>
	    <% if @user.nurse.dismissalDate %>
	    	<tr>
	    	<td>Data zwonienia</td>
	     	<td><%= @user.nurse.dismissalDate %></td>
	    </tr>
	    <% end %>
	</table>
</div>

<p><%= link_to "Powrót do pielęgniarek", nurses_index_path, class: "linkto" %></p>