<% i=0 %>
	<table class="table table-hover">
		<thead>
		<th>
			<%= link_to rooms_index_path(sortable("id")), class: "sortinglink" do %>
				Nr.<%= column_name("id") %>
			<% end %>
		</th>
		<th>
			<%= link_to rooms_index_path(sortable("name")), class: "sortinglink" do %>
				Nazwa<%= column_name("name") %>
			<% end %>
		</th>
		<th>
			<%= link_to rooms_index_path(sortable("number")), class: "sortinglink" do %>
				Numer<%= column_name("number") %>
			<% end %>
		</th>
		<th>Szczegóły</th>
		<th>Edytuj</th>
	 	<th>Usuń</th>
	  	</thead>
	  	<tbody>
		<% @rooms.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
				<td><%= f.number %></td>
				<td><%= link_to "Szczegóły", rooms_show_path(f), :class => "btn btn-info"%></td>
		        <td><%= link_to "Edytuj", rooms_edit_path(f), :class => "btn btn-primary"%></td>
		        <td><%= link_to "Usuń", rooms_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
			</tr>
		<% end %>
	  </tbody>
	</table>

<%= will_paginate @rooms, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>