<h1>Dodawanie nowego gabinetu</h1>
<% if @room.errors.any? %>
	<% @room.attributes.keys.each do |key| %>
		<% if @room.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @room.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="addroomform">

	<%= form_for @room, url: rooms_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Nazwa %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :Numer %><br />
	    <%= f.text_field :number, class: "form-control" %>
	  </div>

    <div class="actions">
	    <%= f.submit "Dodaj gabinet", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do gabinetów", rooms_index_path, class: "linkto" %></p>