<h1>Gabinet: <%= @room.name %></h1>

<div id="roomshowdiv">
	<table class="table table-hover">
	    <tr>
	    	<td id="firstrow">Nazwa:</td>
	      	<td id="firstrow"><%= @room.name %></td>
	    </tr>
	    <tr>
	    	<td>Numer:</td>
	      	<td><%= @room.number %> </td>
	    </tr>
	</table>
</div>

<p><%= link_to "Powrót do gabinetów", rooms_index_path, class: "linkto" %></p>