<div id="chronicdiseaseform">
	<%= form_for ([@user, @alergic_medicine]), html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Nazwa %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control"%>
	  </div>

	  <div class="actions">
	    <%= f.submit "Zapisz lek", class: "btn btn-primary visitdescriptiontextarea" %>
	  </div>
	<% end %>
	<p><%= link_to "Powrót do pacjenta", patients_show_path(@user) %></p>
</div>