<h1>Dodaj alergenny lek pacjenta <%= @user.name %> <%= @user.surname %></h1>
<% if @alergic_medicine.errors.any? %>
	<% @alergic_medicine.attributes.keys.each do |key| %>
		<% if @alergic_medicine.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @alergic_medicine.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>