<% i=((params[:page].present? ? params[:page].to_i : 1) - 1) * 20 %>
	<table class="table table-hover">
		<thead>
		<th>
			<%= link_to receptionists_index_path(sortable("id")), class: "sortinglink" do %>
				Nr.<%= column_name("id") %>
			<% end %>
		</th>
		<th>
			<%= link_to receptionists_index_path(sortable("surname")), class: "sortinglink" do %>
				Imię i nazwisko<%= column_name("surname") %>
			<% end %>
		</th>
		<th>
			<%= link_to receptionists_index_path(sortable("login")), class: "sortinglink" do %>
				Login<%= column_name("login") %>
			<% end %>
		</th>
		<th>
			<%= link_to receptionists_index_path(sortable("isactive")), class: "sortinglink" do %>
				Status<%= column_name("isactive") %>
			<% end %>
		</th>
		<th>
			<%= link_to receptionists_index_path(sortable("position")), class: "sortinglink" do %>
				Stanowisko<%= column_name("position") %>
			<% end %>
		</th>
		<th>Szczegóły</th>
		<th>Edytuj</th>
	 	<th>Usuń</th>
	  	</thead>
	  	<tbody>
		<% @users.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %> <%= f.surname %></td>
				<td><%= f.login %></td>
				<td><%= f.isactive ? "Aktywny" : "Usunięty" %></td>
				<td><%= f.receptionist.position %></td>
				<td><%= link_to "Szczegóły", receptionists_show_path(f), :class => "btn btn-info"%></td>
        <td><%= link_to "Edytuj", receptionists_edit_path(f), :class => "btn btn-primary"%></td>
        <td><%= link_to "Usuń", receptionists_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć ten zesób?' }, :class => "btn btn-danger"%></td>
			</tr>
		<% end %>
	  </tbody>
	</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>