// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-menu-item {
	// border-style: solid;
	// border-width: 2px;
	background-color: #FFF;
	color: black;
	line-height: 20px;
}

.ui-autocomplete {
	border-style: solid;
	border-width: 2px;
	padding-left: 0px;
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 0px;
	position: relative;
}

.ui-state-focus {
	background-color: #3366FF;
	color: white;
}

.ui-helper-hidden-accessible {
	display: none;
	height: 0px;
}

#autocompleteresult {
	position: absolute;
}

#admins_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#admins_search > table > tbody > tr > td > .form-control {
	width: 100%;
}