// Place all the styles related to the chronic_diseases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chronicdiseases {
	width: 40%;
	font-size: 17px;
}