// Place all the styles related to the examinationpositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#examipationpositionstable {
	width: 60%;
  font-size: 17px;
}

#examinationshowdiv {
	width: 40%;
	font-size: 17px;
}