// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#maininfo {
	font-size: 30px;
	margin-left: 3%;
	margin-top: 3%;
}

#doctorindexl{
	margin-top: 10%;
	width:50%;
	float: left;
}

#doctorindex {
	margin-top: 0%;
	width: 40%;
	font-size: 20px;
	width:48%;
	float: right;
}

#adminstable {
	width: 80%;
	font-size: 20px;
}

#adminindex {
	margin-top: 3%;
	width: 40%;
	font-size: 20px;
	width:48%;
	float: right;
}

#adminindexl {
	width:50%;
	float: left;
}