// Place all the styles related to the MedicalVisits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#medicalvisitform {
	width: 50%;
	float: left;
}

#medicalvisitformdoctors {
	width:48%;
	float: right;
}

#medicalvisitformdoctorstable {
	overflow: auto;
  overflow-x:hidden;
}

#roomshowdiv {
	width: 40%;
	font-size: 17px;
}

#medical_visits_search_date {
	margin: 0;
	padding: 0;
	width: 25%;
}

#medical_visits_search > table > tbody > tr > td > .form-control {
	width: 100%;
}

#searchtable {
	margin-bottom: 1%;
}

.datesearch {
	width: 100%;
}

#medicalvisitshowdiv {
    width: 50%;
    font-size: 17px;
 }

 #medicalvisitprescriptionsshowdiv {
    width: 60%;
    font-size: 17px;
 }

