// Place all the styles related to the nurses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nurses_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#nurses_search > table > tbody > tr > td > .form-control {
	width: 100%;
}