// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#patients_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#patients_search > table > tbody > tr > td > .form-control {
	width: 100%;
}

#patientshow {
    width: 50%;
    font-size: 17px;
    float: left;
 }

#patientinfo {
	width:48%;
	float: right;
}