// Place all the styles related to the prescriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prescriptionpositionsform > table > tbody > tr > td {
	border: 0px
}

#prescriptionpositionsform > table > tbody > tr > td.positionheader {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
	font-weight: bold;
	padding: 0px;
}

#prescriptionshowdiv {
    width: 40%;
    font-size: 17px;
 }

 #prescriptionpositionshowdiv {
    width: 60%;
    font-size: 17px;
 }


#prescription {
	// height: 200mm;
 //  width: 210mm;
}

#prescriptiontable {
	border: 2px solid black;
	height: 204.5mm;
	width: 102mm;
}

#prescriptiontable tr {
	 align: 0px;
	 border-bottom: 1px solid black;
}

#prescriptiontable  tr  td {
	 align: 0px;
	 vertical-align: top;
}

#prescriptiontable #pfirstrow {
	height: 32mm;
}

//pierwszy wiersz
#prescriptiontitle {
	margin-left: 2px;
	margin-top: 1px;
	font-weight: bold;
}

#prescriptionnumber {
	position: absolute;
	font-size: 20px;
	top: 2px;
	right: 4px;
}

#prescriptionclinicinfo {
	margin-left: 6px;
	margin-top: 4px;
	font-size: 12px;
}

#phealthprovider {
	position: absolute;
	font-size: 8px;
	top: 110px;
	left: 4px;
}

#prescriptiontable #psecondrow {
	height: 42mm;
}

#ppatienttitle {
	position: absolute;
	font-size: 8px;
	top: 123px;
	left: 4px;
}

#ppatined {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 4px;
}

#ppeseltitle{
	position: absolute;
	font-size: 17px;
	top: 260px;
	left: 4px;
}

#ppesel{
	position: absolute;
	font-size: 17px;
	top: 260px;
	right: 118px;
}

.pnfz {
	width: 30mm;
}

.pnfz td {
	width: 30mm;
}

.pnfztr {
	height: 21mm;
	border-left: 1px solid black;
}

#pnfztitle {
	position: absolute;
	font-size: 11px;
	top: 123px;
	left: 273px;
}

#pnfz {
	font-size: 20px;
	margin-left: 45px;
	margin-top: 28px;
}

#ppermisionstitle {
	position: absolute;
	font-size: 11px;
	top: 202px;
	left: 273px;
}

#ppesmisions {
	font-size: 20px;
	margin-left: 50px;
	margin-top: 28px;
}

#prescriptiontable #pmedicinetitlerow {
	height: 5mm;
	border-bottom: none;
}

.ppositiontr {
	height: 15mm;
	border-bottom: none;
}

.ppositiontr .pposition2 {
	width: 15mm;
}

.pposition1 {
	border-bottom: 1px dashed black;
}

.pposition2 {
	width: 20mm;
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
}

#prp {
	position: absolute;
	font-size: 10px;
	top: 283px;
	left: 4px;
}

#ppayment {
	position: absolute;
	font-size: 10px;
	top: 283px;
	right: 3px;
}

.pposition {
	font-size: 12px;
	margin-top: 3px;
	margin-left: 3px;
}

.ppositionpayment {
	font-size: 12px;
	margin-top: 3px;
	margin-right: 5px;
	text-align: right;
}

#prescriptiontable #pcoderow {
	height: 15mm;
}

#pcodenumber {
	position: absolute;
	font-size: 10px;
	top: 622px;
	right: 10px;
}

#prescriptiontable #plastrow {
	height: 35mm;
}

#pdrawdatetitle{
	position: absolute;
	font-size: 10px;
	top: 634px;
	left: 4px;
}

#pdrawdate {
	font-size: 15px;
	margin-left: 10px;
	margin-top: 20px;
}

.pdatetr {
	height: 17.5mm;
	border-right: 1px solid black;
}

#prealizationdatetitle{
	position: absolute;
	font-size: 10px;
	top: 700px;
	left: 4px;
}

#prealizationdate {
	font-size: 15px;
	margin-left: 10px;
	margin-top: 20px;
}

#pdoctor {
	position: absolute;
	font-size: 13px;
	left: 42%;
	// width: 87mm;
	text-align: center;
}
