// Place all the styles related to the receptionists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#receptionists_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#receptionists_search > table > tbody > tr > td > .form-control {
	width: 100%;
}