// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table.table-hover > tbody > tr > td {
    vertical-align: middle;
  }

.linkto {
	font-size: 17px;
}

#roomshowdiv {
    width: 30%;
    font-size: 17px;
 }

 #firstrow {
    border-top: 0px;
 }

 .addlinkdiv {
  	margin-top: 2%;
  	margin-bottom: 0%;
 }

 .addlinkdiv > p {
  	margin-bottom:  0%;
 }

 .addlink {
	font-size: 20px;
}

.field_with_errors {
	display: inline;
}

.field_with_errors > input{
	border: 1px solid #B70000;
}

.sortinglink:link, .sortinglink:visited {
	color: #333333;
}

.sortinglink:active, .sortinglink:visited:active {
	color: #333333;
	text-decoration: underline;
}

.sortinglink:hover {
	color: #333333;
	text-decoration: underline;
}

#roomshowdiv {
	width: 40%;
	font-size: 17px;
}

#rooms_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#rooms_search > table > tbody > tr > td > .form-control {
	width: 100%;
}

#searchtable {
	margin-bottom: 1%;
}