// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#scheduleshowdiv {
	width: 40%;
	font-size: 17px;
}

#schedules_search {
	margin: 0;
	padding: 0;
	width: 25%;
}

#schedules_search > table > tbody > tr > td > .form-control {
	width: 100%;
}