// Place all the styles related to the visit_descriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#visitdescriptionform {
	width: 60%;
	float: left;
}

#visitdescriptionpatient {
	width:38%;
	float: right;
}

.visitdescriptiontextarea {
	min-height: 20%;
	resize: vertical;
}