<% i=0 %>
	<table class="table table-hover">
		<thead>
		<th>
			<%= link_to examinations_index_path(sortable("id")), class: "sortinglink" do %>
				Nr.<%= column_name("id") %>
			<% end %>
		</th>
		<th>
			<%= link_to examinations_index_path(sortable("name")), class: "sortinglink" do %>
				Nazwa<%= column_name("name") %>
			<% end %>
		</th>
		<th>
			<%= link_to examinations_index_path(sortable("date")), class: "sortinglink" do %>
				Data<%= column_name("date") %>
			<% end %>
		</th>
		<th>
			<%= link_to examinations_index_path(sortable("surname")), class: "sortinglink" do %>
				Pacjent<%= column_name("surname") %>
			<% end %>
		</th>
		<th>
			<%= link_to examinations_index_path(sortable("nurse_id")), class: "sortinglink" do %>
				Pielęgniarka<%= column_name("nurse_id") %>
			<% end %>
		</th>
		<th>Szczegóły</th>
		<% if current_user.admin? or current_user.nurse? %>
			<th>Edytuj</th>
	 		<th>Usuń</th>
		<% end %>
	  	</thead>
	  	<tbody>
		<% @examinations.each do |f| %>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= f.name %></td>
				<td><%= l(f.date, format: "%d.%m.%Y %H:%M").humanize %></td>
				<td><%= f.patient.name %> <%= f.patient.surname %></td>
				<td><%= f.nurse.name %> <%= f.nurse.surname %></td>
				<td><%= link_to "Szczegóły", examinations_show_path(f), :class => "btn btn-info"%></td>
				<% if current_user.admin? or current_user.nurse? %>
		      <td><%= link_to "Edytuj", examinations_edit_path(f), :class => "btn btn-primary"%></td>
		      <td><%= link_to "Usuń", examinations_destroy_path(f), method: :delete, data: { confirm: 'Na pewno usunąć wynik badania?' }, :class => "btn btn-danger"%></td>
		    <% end %>
			</tr>
		<% end %>
	  </tbody>
	</table>

<%= will_paginate @examinations, renderer: BootstrapPagination::Rails, :previous_label => '<span aria-hidden="true">&laquo;</span>', :next_label => '<span aria-hidden="true">&raquo;</span>' %>