<h1>Edytowowanie wyniku badania z : <%= l(@examination.date, format: "%d.%m.%Y %H:%M").humanize %></h1>
<% if @examination.errors.any? %>
	<% @examination.attributes.keys.each do |key| %>
		<% if @examination.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @examination.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="addexaminationform">

	<%= form_for @examination, url: examinations_update_path(@examination), :method => :put, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Nazwa %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Opis badania" %><br />
	    <%= f.text_area :description, class: "form-control visitdescriptiontextarea", rows: 5 %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Data badania" %><br />
	    <div class='input-group date datetimepickerdatetime' id='datetimepicker1'>
	    	<% if @examination.date.nil? %>
			    		<%= f.text_field :date, class: "form-control" %>
			    	<% else %>
			    		<%= f.text_field :date, class: "form-control", value: l(@examination.date, format: "%d.%m.%Y %H:%M").humanize %>
			    	<% end %>
	    		<span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
	  </div>

	  <div class="form-group">
	    <%= f.label :Pacient %><br />
	  	<%= f.autocomplete_field :patient ,autocomplete_patient_name_medical_visits_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_patient_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
			<%= hidden_field(:post, :patient_id, :value => get_patient_id(@examination.patient))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

    <div class="actions">
	    <%= f.submit "Zapisz wynik badania", class: "btn btn-primary" %>
	    <%= f.submit "Zatwierdź wynik badania", class: "btn btn-primary" %>
	    <%= link_to "Dodaj pozycję badania", new_examination_examinationposition_path(@examination), :class => "btn btn-primary"%>
	  </div>
	<% end %>
</div>

<div id="examipationpositionstable">
	<table class="table table-hover">
			<thead>
		    <th>Nr. pozycji</th>
		    <th>Nazwa</th>
		    <th>Wynik</th>
		    <th>Norma</th>
		    <th>Edytuj</th>
		    <th>Usuń</th>
	    </thead>
	    <% i=0 %>
	    <tbody>
				<% @examination.examinationpositions.each do |f| %>
					<tr>
						<td><%= i+=1 %></td>
						<td><%= f.name %></td>
						<td><%= f.result %></td>
						<td><%= f.norm %></td>
						<td><%= link_to "Edytuj", edit_examination_examinationposition_path(@examination, f), :class => "btn btn-primary"%></td>
		        <td><%= link_to "Usuń", examination_examinationposition_path(@examination, f), method: :delete, data: { confirm: 'Na pewno usunąć tą pozycję?' }, :class => "btn btn-danger"%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
</div>
<p><%= link_to "Powrót do wyników badań", examinations_index_path, class: "linkto" %></p>