<h1>Wyniki badań</h1>

<% if current_user.admin? or current_user.nurse? %>
	<div class="addlinkdiv">
		<p><%= link_to "Dodaj nowy wynik", examinations_new_path, class: "addlink"%></p>
	</div>
<% end %>

<!-- <div id="serarchdiv">
	<%= form_tag examinations_index_path, :method => :get, :class => "navbar-form navbar-left", :role => "search", :id => "examinations_search", :enforce_utf8 => false do %>
		<table class="table" id="searchtable">
			<thead>
				<th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Wyszukaj:</th>
			</thead>
			<tbody>
				<tr>
					<td>
					  <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj", class: "form-control" %>
					</td>
		   	</tr>
			</tbody>
		</table>
	<% end %>
</div> -->

<div id="examinations">
	<%= render "examinations" %>
</div>