<h1>Dodawanie nowego wyniku badania</h1>
<% if @examination.errors.any? %>
	<% @examination.attributes.keys.each do |key| %>
		<% if @examination.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @examination.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<div id="addexaminationform">

	<%= form_for @examination, url: examinations_create_path, :method => :post, html: { autocomplete: 'off' } do |f| %>
		<div class="form-group">
	    <%= f.label :Nazwa %><br />
	    <%= f.text_field :name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Opis badania" %><br />
	    <%= f.text_area :description, class: "form-control visitdescriptiontextarea", rows: 5 %>
	  </div>

	  <div class="form-group">
	    <%= f.label "Data badania" %><br />
	    <div class='input-group date datetimepickerdatetime' id='datetimepicker1'>
	    	<% if @examination.date.nil? %>
			    		<%= f.text_field :date, class: "form-control" %>
			    	<% else %>
			    		<%= f.text_field :date, class: "form-control", value: l(@examination.date, format: "%d.%m.%Y %H:%M").humanize %>
			    	<% end %>
	    		<span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
	  </div>

	  <div class="form-group">
	    <%= f.label :Pacient %><br />
	  	<%= f.autocomplete_field :patient ,autocomplete_patient_name_medical_visits_path,'data-auto-focus' => true, class: "form-control", :id_element => '#post_patient_id', "data-auto-label" => "Sorry, nothing found.", :append_to => "#autocompleteresult"%>
			<%= hidden_field(:post, :patient_id, :value => get_patient_id(@examination.patient))%>
	  	<div id="autocompleteresult">
	  	</div>
	  </div>

    <div class="actions">
	    <%= f.submit "Zapisz wynik badania", class: "btn btn-primary" %>
	    <%= f.submit "Zatwierdź wynik badania", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<p><%= link_to "Powrót do wyników badań", examinations_index_path, class: "linkto" %></p>