<h1>Dodaj chorobę przewlękłą pacjenta <%= @user.name %> <%= @user.surname %></h1>
<% if @chronic_disease.errors.any? %>
	<% @chronic_disease.attributes.keys.each do |key| %>
		<% if @chronic_disease.errors.full_messages_for(key.to_sym).length > 0  %>
			<%= @chronic_disease.errors.full_messages_for(key.to_sym).first %> <br />
		<% end %>
	<% end %>
<% end %>

<%= render 'form' %>