<!DOCTYPE html>
<html>
	<head>
	  <title>System przychodni</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="container">
		<div id="loginbar">
			<% if current_user %>
				Jesteś zalogowany jako: <b><%= current_user.name %> <%= current_user.surname %></b> (<%= link_to "Wyloguj", destroy_user_session_path, method: :delete  %>)
			<% else %>
				<%= link_to "Zaloguj", new_user_session_path  %>
			<% end %>
		</div>

		<% if current_user.present? %>
			<% if current_user.admin? %>
				<%= render partial: 'layouts/menus/adminmenu' %>
			<% elsif current_user.doctor? %>
				<%= render partial: 'layouts/menus/doctormenu' %>
			<% elsif current_user.nurse? %>
				<%= render partial: 'layouts/menus/nursemenu' %>
			<% elsif current_user.receptionist? %>
				<%= render partial: 'layouts/menus/receptionistmenu' %>
			<% elsif current_user.patient? %>
				<%= render partial: 'layouts/menus/patientmenu' %>
			<% end %>
		<% end %>

		<div id="flashalert">
			<%= render partial: "shared/flash_messages", flash: flash %>
		</div>

		<%= yield %>


	</body>
</html>
