<!DOCTYPE html>
<html>
	<head>
	  <title>System przychodni</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="container">
		<div id="flashalert">
			<%= render partial: "shared/flash_messages", flash: flash %>
		</div>

		<%= yield %>
	</body>
</html>
